@import "./setup/variables";
@import "./setup/base";
@import "./setup/typography";
@import "./setup/mixin";

body {
  min-height: 100vh;
  font-family: "Kumbh-Sans";
  font-weight: 400;
  background-image: linear-gradient($clr-soft-violet, $clr-soft-blue);
  @include flex-column-center;
  margin: 0 min(16px);
}

.faq {
  position: relative;
  @include flex-column-center;
  background: $clr-white;
  padding: 30px 30px 20px 30px;
  border-radius: 15px;
  height: 550px;


  @media (min-width: 1440px) {
    height: 435px;
    flex-direction: row;
    overflow: hidden;
    padding: 50px 30px 50px 30px;
  }

  &__img-container {
    @include flex-column-center;
    position: absolute;
    top: -90px;

    @media (min-width: 1440px) {
      position: relative;
      top: -20px;
      right: 100px;
    }
  }

  &__main-img {
    img {
      max-width: 200px;
    }

    @media (min-width: 1440px) {
      z-index: 10;

      img {
        max-width: 400px;
      }
    }
  }

  &__box-img {

    img {
      z-index: 20;
      position: relative;
      max-width: 150px;
      top: 315px;
      left: -75px;
    }
  }

  &__shadow-img {
    position: absolute;
    top: 90px;

    img {
      max-width: 200px;
      position: relative;
    }

    @media (min-width: 1440px) {
      img {
        min-width: 650px;
        top: -290px;
        right: 130px;
      }
    }
  }

  &__text-container {
    margin-top: 50px;
    @include flex-column-center;

    @media (min-width: 1440px) {
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

    }
  }

  &__questions-answers {
    display: flex;
    flex-direction: column;
    font-size: 12px;

    &>* {
      padding: 10px 0;
      border-bottom: solid 1px $clr-light-grayish-blue;
      list-style-type: none;
    }
  }

  &__question-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-size: 14px;
    transition: 0.1s;

    p {
      margin: 10px 0;
    }

    &:hover {
      color: $clr-soft-red;
      cursor: pointer;
    }
  }

  &__arrow-container {

    img {
      width: 15px;
    }
  }

  &__a {
    color: $clr-grayish-blue;
  }
}