//COLORS
$clr-purple: rgb(170, 92, 219);
$clr-deep-purple: rgb(27, 25, 56);
$clr-dark-blue: rgb(9, 11, 26);
$clr-white: rgb(255, 255, 255);
$clr-transparent1: rgba(255, 255, 255, 0.75);
$clr-transparent2: hsla(0, 0%, 100%, 0.6);